configuration {
    show-icons: true;
}

* {
  font:   "Terminus 8";
}


window {
  width    : 300px;
  background-color: black;
  border-color: white;
}

prompt, entry {
    text-color: white;
}

entry {
    placeholder: "";
}

listview {
  scrollbar    : false;
}
