[Unit]
Description=Run update-checker.service every 5 minutes

[Timer]
OnBootSec=30s
OnUnitActiveSec=5min
AccuracySec=1min

[Install]
WantedBy=timers.target
